@charset "utf-8";
/*-------------------css reset--------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, 
h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, 
big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, 
small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, table, caption, tbody, tfoot, 
thead, tr, th, td { 
margin: 0; 
padding: 0; 
border: 0; 
outline: 0; 
font-weight:normal; 
font-style: inherit; 
font-size: 100%; 
font-family: inherit; 
vertical-align: baseline; 
} 
:focus { 
outline: 0; 
} 
table { 
border-collapse: collapse; 
border-spacing: 0; 
} 
caption, th, td { 
text-align: left; 
font-weight: normal; 
} 
a img, iframe { 
border: none; 
}
ul,ol{ 
list-style: none; 
}
input, textarea, select, button { 
font-size: 100%; 
font-family: inherit; 
} 
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
/*------------------- 视觉隐藏--------------------------*/
.vh { 
	border: 0; 
	clip: rect(0 0 0 0); 
	height: 1px; 
	margin: -1px; 
	overflow: hidden; 
	padding: 0; 
	position: absolute; 
	width: 1px; 
}
/*------------------- 图片替换--------------------------*/
.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}
/*-------------------公共--------------------------*/
body{font-size:14px; line-height:1; font-family:'宋体',Arial, Helvetica, sans-serif;color:#333;}
a{text-decoration:none;color:#333;}
a:hover{color:red;}
.fl{float:left; display:inline;}
.fr{float:right;display:inline;}
strong,h1,h2,h3,h4,dt,h1 a,h2 a,h3 a,h4 a{font-weight:bold;}
.h{position:relative;}
.hr{position:absolute; right:0; top:2px;}
.tc{text-align:center;}
.tr{text-align:right;}
.fl,.li-fl li{float:left; display:inline;}
/*-------------------文章模块--------------------------*/
.article h3{ text-align:center;}
.article p {text-indent:2em; line-height:1.5;}
/*-------------------新闻列表模块--------------------------*/
.list li{line-height:1.5;}
.list2 li{float:left; display:inline; width:50%; line-height:1.5;}
/*-------------------图片列表模块--------------------------*/
.img dl{float:left;display:inline;}
.img dd{*font-size: 0;}
.img dt{text-align:center; margin-top: 5px;}
/*-------------------选项卡模块--------------------------*/
.tab .h li{float:left; display:inline;}
.tab .b{display:none;}
.tab .active{display:block;}
/*-------------------数字幻灯模块--------------------------*/
.slider{ position:relative; height:283px; overflow:hidden}
.slider .b{ padding:0;}
.slider .f{position:absolute; right:5px; bottom:5px; z-index:999}
.slider .f a{background:#000; margin:0 5px; display:inline-block; padding:0 3px; color:#fff}
.slider .f .activeSlide{background:red;}
/*-------------------布局--------------------------*/
body{background:url(../img/body.jpg) repeat;}
.bg{background:url(../img/bg.jpg) repeat-x;}
.w{width:1000px; margin:0 auto;}
#h .c1,
#b .wl{width:188px;}
#b .wl{margin-right:29px;}
#h .c2,
#b .wr{width:781px;}
#h .c1 a{display:block;height:52px; text-indent:-999em; background:url(../img/logo.png) no-repeat center center;}
#h .nav .l1{height:52px; line-height:52px; position:relative; margin:0 7px;}
#h .nav .l1 a{display:block; padding:0 12px; color:#FFFFFF; font-weight:bold;}
#h .nav .active1{background:#999999;}
#h .nav .l1 ul{ position:absolute; top:52px; left:0; display:none; width:600px; z-index:9;}
#h .nav .l1 .l2{left:-358px;}
#h .nav .l1 .l3{left:-414px;}
#h .nav .l1 .l4{left:-237px;}
#h .nav .l1 .l5{left:-426px;}
#h .nav .l1 li{height:36px; line-height:36px;}
#h .nav .l1 li a{display:block; background:#999999; padding:0 16px; margin:0; font-size:12px; font-weight:normal;}
#b{margin-top:18px;}
#b .nav1 li{line-height:38px; border-top:1px solid #F0F0F0; background:#CCCCCC; text-align:center; font-size:0;}
#b .nav1 a{color:#000000; display:block; font-size:14px; height:38px;}
#b .nav1 .active2 a{background:#E92900; color:#fff;} 
#f{background:#6B6B6B;}
/*-------------------模块m1--------------------------*/
.m1{margin-top:28px; background:#E7E7E7; padding:15px 74px 36px; margin-bottom:196px;}
.m1 .h{margin-bottom:48px;}
.m1 h2{text-align:center; font-size:58px; line-height:82px; color:#FF0000; font-family:'微软雅黑'; font-weight:normal;}
.m1 h3{font-size:22px; color:#000000; font-family:'微软雅黑'; font-weight:normal;}
.m1 span{margin:0 10px;}
.m1 p{line-height:30px; color:#000;}
/*-------------------模块m2--------------------------*/
.m2{background:url(../img/m2.png) no-repeat; position:fixed; left:50%; margin-left:505px; bottom:200px;}
.m2 a{display:block; text-indent:-999em; width:50px; height:50px;}
* html .m2{position:absolute;bottom:auto;top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||200)));}
/*-------------------模块m3--------------------------*/

/*-------------------模块m4--------------------------*/

/*-------------------模块m5--------------------------*/

/*-------------------模块m6--------------------------*/

/*-------------------模块m7--------------------------*/

/*-------------------模块m8--------------------------*/

/*-------------------模块m9--------------------------*/

/*-------------------模块m10--------------------------*/

/*-------------------模块m11--------------------------*/

/*-------------------模块m12--------------------------*/

/*-------------------模块m13--------------------------*/

/*-------------------模块m14--------------------------*/

/*-------------------模块m15--------------------------*/

/*-------------------模块m16--------------------------*/

/*-------------------模块m17--------------------------*/